PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname
JWT_SECRET=your_jwt_secret_here
CLIENT_ORIGIN=*
FIREBASE_DATABASE_URL=https://busmitra-d4dc0-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=busmitra-d4dc0
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@xxxx.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
